@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 100px;
    color: #1b1a1a;
}

p {
    font-size: large;
    color: #ffffff;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(#141e30b3, #243b55);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #009dff;
    background-color: #1501aeb0;
    color: #00eeff;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}